$color-red: rgb(255, 20, 20);
$color-white: rgb(255,255,255);

@font-face
{
    font-family: Metropolis;
    src: url('../fonts/Metropolis/Metropolis-Thin.otf') format("opentype");
}
@font-face 
{
	font-family: MetropolisBold;
	font-weight: bold;
	src: url('../fonts/Metropolis/Metropolis-SemiBold.otf') format("opentype");
}
H1
{
	font-family: 'MetropolisBold';
	color: $color-red;
	font-size: 48px;
}
H2
{
	font-family: 'MetropolisBold';
	color: $color-white;
	font-size: 48px;
}
H3
{
	font-family: 'MetropolisBold';
	color: $color-white;
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}
p
{
	color: $color-white;
	font-size: 16px;
	line-height: 1.4em;
}
body
{
	background-color: #191919;
	font-family: 'Metropolis';

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.wrapper
{
	max-width: 1000px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	margin-bottom: 40px;

}
.header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__item__searchbar
{
	border: 1px solid $color-white;
	border-radius: 30px;
	font-size: 18px;
	background-color: #191919;
	background-image:url('../images/magnifier.svg');
	color: $color-white;
	background-position: 10px 7px;
	background-repeat: no-repeat;
	padding: 8px 20px 8px 70px;
	-webkit-transition: width 0.8s ease-in-out;
	transition: width 0.8s ease-in-out;
	outline: none;
	opacity: 0.9;
}
@media (max-width: 800px) 
{
  .header
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.page-list__articles
{
	display: flex;
	flex-wrap: wrap;
   	justify-content: space-between;
}
.page-list__articles__cardGame__cardImage-image
{
	width: 300px;
	height: 180px;
}
.page-list__articles__cardGame-platformImage
{
	margin-bottom: 20px;
	margin-right: 10px;
}
footer
{
	align-self: flex-start;
}
.footer__elements
{
	margin-top: 40px;
	margin-bottom: 10px;
}
.footer__elements__bar
{
	height: 10px;
	width: 200px;
	background-color: $color-red;
}